*{
    box-sizing: border-box;
}

#divmapa{
    padding:15px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#mapa{
    width:90%;
    min-height: 300px;
    
}

#form{
    padding:10%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#cards{
    padding-left:5%;
    padding-right:5%; 
    
}

#cards .card{
    margin-top:5%;
}



.centro{
    margin:auto;
    max-width: 1200px;
    display:flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(150, 2, 2); /* Define o fundo como vermelho */
    color: ghostwhite;
    
}

@media only screen and (max-width: 500px) {
    #titulo {
      display:none;
    }
  }



#meumenu{
    margin-left: 11%;
    color: ghostwhite;
}

#textoclube{
    margin:5%;
    padding:5%;
    color: ghostwhite;
    background-color:#38335b;
}

#textoclube p{
    
        text-align: justify;
    
}

#carouselExampleIndicators{
    margin-top:30px;
}

.carousel-item img {
    width: 100%; /* Ajusta a largura da imagem para 100% do contêiner */
    height: auto; /* Mantém a proporção original da altura */
    object-fit: cover; /* Garante que a imagem mantenha sua proporção e preencha o contêiner */
}

.carousel-inner {
    max-height: 500px; /* Define uma altura máxima para o carrossel */
    overflow: hidden; /* Evita que imagens maiores distorçam o layout */
    max-width: 750px;
}

.btn-custom {
    background-color: #1b0466; /* Cor de fundo personalizada */
    color: white; /* Cor do texto */
   
.btn-custom:hover {
    background-color: #cc4627; /* Cor de fundo personalizada ao passar o mouse */
}
